---
layout: default
---

<div class="grid-x">
  {% include hero.html %}
  
  {% assign project_order = site.projects | sort: 'date' | reverse %}
    {% for project in project_order %}
    <div class="small-6 medium-4 tile-container">
      <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
      <div class="tile" style="background-color: #{{ project.color }}">
        <span class="tile-title">{{ project.title }}</span>
        <img class="tile-image" src="img/thumbnails/{{ project.thumbnail }}" alt="{{ project.tile-name }} Tile Image">
        <span class="tile-category">{{ project.category }}</span>
      </div>
      </a>
    </div>
    {% endfor %}
</div>
